node_modules/
*.tgz
.idea/
.vscode/
.history/
*.swp
dist/
build/
coverage/
.DS_Store
.cache
.eslintcache

yarn.lock
*.log
.changelog/*
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
!live-examples/**/dist
e2e/config/gtf.js
e2e/config/apps/libs/*
e2e/tests/temp-test-collection/
